<div class="form-box">
  <form  ng-submit="submit()" method="post" name="regForm" novalidate>
      <div class="list-form" ng-class="{}">
          <div class="form-list" ng-class="{ 'has-error' : formReg.name.$invalid && !regForm.name.$pristine }">
            <label for="">用户名</label>
            <input type="text" name="name" 
                    ng-model="user.name"
                    ng-minlength="3"
                    ng-maxlength="10"
                   
                   required>
             <p ng-show="regForm.name.$invalid && !regForm.name.$pristine" class="help-block">用户名不能为空！</p>
             <p ng-show="regForm.name.$error.minlength" class="help-block">不能少于3个字符</p>
             <p ng-show="regForm.name.$error.maxlength" class="help-block">不能大于10个字符</p>

          </div>

        
           
     
          <div class="form-list"><label for="">密码</label><input type="password" name="" id=""></div>
          <div class="form-list"><label for="">确认密码</label><input type="password" name="" id=""></div>
          <div class="form-list"><label for="">邮箱</label><input type="text" name="" id=""></div>
          <div class="form-list"><label for="">电话</label><input type="text" name="" id=""></div>
          <div class="form-list">
            <label for="">&nbsp;</label><button type="submit">提交</button>
          </div>
      </div>

  </form>
  <input type="text" ng-model="user.names" placeholder="Enter your name"> <button ng-disabled="!user.names.length"> Update name </button>
</div>