article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,progress,video {
  display: inline-block; 
  vertical-align: baseline; 
}
body,h1,h2,h3,h4,h5,h6,p,ul{
  margin:0;
  padding:0;
}
html{
  font-style:87.5%;
}
html, body {
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 200;
  -moz-perspective: 200;
  perspective: 200;
}
body {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font:400 1em/1.4 'open_sansbold',san-serif;
}
a{
  text-decoration: none;
}
img{
  border:0;max-width: 100%;vertical-align: middle;
}
/* line 85, ../sass/screen.scss */
section.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  transition: all .35s ease-out;
  background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(1){
  background:url(../img/first.png) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(2){
   background:url(../img/a.png) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(3){
   background:url(../img/b.png) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(4){
   background:url(../img/c.jpg) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(5){
   background:url(../img/d.png) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(6){
   background:url(../img/e.png) no-repeat;background-size: cover;
  -webkit-background-size: cover;
}
section.scene:nth-child(7){
   background:url(../img/f.jpg) no-repeat;background-size: cover;
  -webkit-background-size:  cover;
}
section.scene.one {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
section.scene.one.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
section.scene.one.after {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

section.scene.one span.scroll-indicator {
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: auto;
  color: white;
  display: inline-block;
  font-weight: normal;
  -webkit-transform: scaleX(2.5) translate3d(-50%, 0, 0);
  -moz-transform: scaleX(2.5) translate3d(-50%, 0, 0);
  transform: scaleX(2.5) translate3d(-50%, 0, 0);
  font-family: Helvetica, Arial, san-serif;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
section.scene.two {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
section.scene.two.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
section.scene.two.after {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.f-txt1{margin-top: 40px;}
.f-txt2{
    margin:30px 10px 0;text-align: center;
}
.f-txt2 .f-title{
    display: block;margin: 0 auto;width: 120px;
}
.panel-txt{
    background: rgba(252,252,252,.65);margin-top: -40px;padding: 40px 20px 10px;text-align: left;
    line-height: 1.5
}
.bm{
    width: 200px;height:50px;background: #F48D00;display:block;
    text-align: center;line-height: 50px;border-radius: 5px;
    text-decoration: none;
    color:#fff;
    margin: 30px auto 0;
    font-size: 18px;
    z-index: 9999;
    position: relative;
}
.arrow-d{
    position: absolute;bottom: 0;width: 100%;text-align: center;color:#fff;font-size: 18px;
}
.arrow-d.blank{color:#333;}
.guidetop{
    position: absolute;width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    bottom: 50px;
    display: block;
    z-index: 9998;
    -webkit-animation: guideTop 1.5s infinite;
}
@-webkit-keyframes guideTop{
    0%{-webkit-transform: translateY(42px); opacity: 0;}
    60%{-webkit-transform: translateY(12px); opacity: 1;}
    100%{-webkit-transform: translateY(0px); opacity: 0;}
}
@keyframes guideTop{
    0%{transform: translateY(42px); opacity: 0;}
    60%{transform: translateY(12px); opacity: 1;}
    100%{transform: translateY(0px); opacity: 0;}
}
/*功能*/
.nav{
  position: fixed;
  width: 50px;height: 50px;background-color: #2CA52C;
  text-align: center;line-height: 50px;
  color:#fff;
  border:5px solid rgba(252,252,252,.5);border-radius: 100%;
  bottom: 10px;right: 10px;
  z-index: 10000;
  text-shadow:1px 1px 1px #f60;
}
.nav a{color:#fff;}
/*音乐MP3*/
#musicControl { position:fixed;right:10px;top:50%;margin-top:-27px;display:inline-block;z-index:9999}
#musicControl a { display:inline-block;width:46px;height:46px;overflow:hidden;background-image:url('../img/mcbg.png');background-repeat: no-repeat ;background-size:100%;}
#musicControl a audio{width:100%;height:50px;}
#musicControl a.stop { background-position:1px bottom;}
#musicControl a.on { background-position:0px 1px;-webkit-animation: reverseRotataZ 1.2s linear infinite;}
@-webkit-keyframes reverseRotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(-360deg);}
}
@-webkit-keyframes rotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(360deg);}
}
#music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0}
/*loading*/
#loading{
    background: #fff;position: fixed;width: 100%;top:0;bottom:0 ;left: 0;z-index: 1000000;
}
.bokeh{
  width: 120px;height: 80px;border-radius: 5px;
  background: #666 url(../img/loading.gif) no-repeat center center;
  position: absolute;top:50%;left: 50%;margin-left:-60px;margin-top: -50px;
}